.api {
    background: #fffbbc;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .api a {
    text-decoration: underline;
  }
  
  .api a:hover {
    text-decoration: none;
  }